* {
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  font-size: 14px;
  color: #1a1a1a;
  background: #f0f0f2;
}
